//estas sin para cuando se muestra errores no quitar
.divTableCell {
  width: 40%;
  background: #dfe3ff;
  border: 1px white solid;
  justify-content: center;
  text-align: center;
}
.divTableRow {
  display: flex;
  flex-wrap: wrap;
}
.card-header span {
  max-width: 10%; 
}
  .card-body {
    position: relative;
      padding: 0px!important;
    }

  .close > .detalle {
    display: none;
}
.btndetalles {
  position: absolute;
    top: -45px;
    right: 5px;
    max-width: 200px;
    max-height: 40px;
    line-height: 20px;
}
.bg_principal{
  background-color: #1f335f;
  color: #fff;
}
.card-header {
  background-color: #1f335f!important;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
}.card-header span {
  min-width: 10%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}
.card-header span:last-child {
  min-width: 200px;
}
.invisible{
  visibility: hidden;
}.btn-lg{
  line-height: 20px!important;
  background-color: #007bff!important;
    color: #fff!important;
}
.card-deck .card-header {
  background-color: #d6d6d6!important;
  color: #1f335f;
}

div#ui-datepicker-div {
  background: #f8f8f8;
  border: solid 1px #e3e3e3;
  box-shadow: salmon;
  -webkit-box-shadow: 9px 10px 5px -7px rgba(0,0,0,0.21);
  -moz-box-shadow: 9px 10px 5px -7px rgba(0,0,0,0.21);
  box-shadow: 9px 10px 5px -7px rgba(0,0,0,0.21);
}


form#acf-form{

  .acf-form-fields {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
    ul.acf-checkbox-list li {
      min-width: 40%;
  }
  .acf-field {
    min-width: 130px;
  }
  .acf-field-5dfbba7a7e45b {
    max-width: 250px;
  }
  

  
}

.tablet {
  display: none!important;
}



.full {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
}








// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 
  .btndetalles {
    position: absolute;
    top: -35px;
    left: calc(50% - 100px);
    max-width: 200px;
    max-height: 30px;
    line-height: 10px!important;
}.card-header span:first-child {
  min-width: 100%;
  background: #1f335f;
  width: 100%;
  color: white;
}
  .card-header span {
    min-width: 50%!important;
    max-width: initial!important;
    min-height: 40px;
  }
  .desktop {
    display: none;
}
.tablet {
  display: flex!important;
}

.card-deck .card-header {
  flex-wrap: wrap;
}

}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {  }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {  }


@media print {
  .detalle {
    display: none!important;  
}
}
